@font-face {
    font-family: myFirstFont;
    src: url(/fonts/Game\ of\ Thrones.ttf);
}

body {
    margin: 0;
}

.container {
    display: flex;
    flex-direction: row;
}

.div--big {
    background-image: url(/assets/site/mapblue.jpg);
    background-size: cover;
    height: 100vh;
    justify-content: space-evenly;
    width: 80vw;
    flex-wrap: wrap
}

.div--big img {
    width: 10vh;
}

.div--characters {
    font-family: myFirstFont;
    font-size: 6pt;
    height: 14vh;
    width: 9vw;
}

.div--search {
    background: #a1a1a1;
    height: 100vh;
    width: 20vw;
}

#search {
    position: absolute;
    top: 95vh;
    left: 84vw;
    width: 200px;
}

.div--got {
    font-family: myFirstFont;
    text-align: center;
    padding: 10px;
}

.img--picture {
    width: 18vw;
    position: relative;
    left: 1vw;
}

.img--house {
    float: right;
    padding-right: 10px;
}

.div--characters:hover {
    text-shadow: 2px 2px#fff;
    
}
.div--characters:active {
    text-shadow: 2px 2px #00FA9A;
}

.img--portrait:hover {
    border: 3px outset 	#fff;
    border-radius: 50%;
}
.img--portrait:active {
    border: 3px outset #00FA9A;
    border-radius: 50%;
}